{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/user-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ user.name }} </h1>
          <h2 class="subheading">Take a look at this profile</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Profile Content -->
  <div class="container m-auto">
        <div class="row justify-content-center gap-3">
            <img class="row w-25" src="{{ gravatar(user.email) }}" alt="Profile Picture">
            <div class="row">
                <h4>Biography</h4>
                <p>{{ user.biography }}</p>
            </div>

            </div>
        <div class="gx-4 gx-lg-5 justify-content-center">
            <div class="">
                <h2>Published post:</h2>
                {% if user.posts %}
                <ul>
                    {% for post in user.posts %}
                        <li>{{ post.title }} - {{ post.subtitle }}
                        <a style="font-weight: bold" href="{{url_for('show_post', post_id=post.id)}}">Read</a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No posts yet</p>
                {% endif %}
            </div>
        </div>
  </div>


{% include "footer.html" %}